<mat-card *ngIf="item" class="mat-card"
          [ngClass]="hovered ?  'card-hovered' : 'card'"
          (mouseenter)="mouseEnter()"
          (mouseleave)="mouseLeave()">
  <mat-card-subtitle>
    {{getCreateTimeString()}}
  </mat-card-subtitle>
  <mat-card-content>
    <div>
      <mat-checkbox (change)="onCheckChange($event)">
        <ng-container *ngIf="editable">
          <div class="editable-content-container">
            <mat-form-field>
              <input matInput [(ngModel)]="stagedInput"/>
            </mat-form-field>
          </div>
        </ng-container>
        <ng-container *ngIf="!editable">
          {{item.content}}
        </ng-container>
      </mat-checkbox>
    </div>
  </mat-card-content>
  <mat-card-actions *ngIf="editable">
    <button mat-button (click)="submitEdit()">
      Save to-do.
    </button>
  </mat-card-actions>
</mat-card>
